/* =====  Gift Registry style  ===== */

.gift-section h5 {
    margin: 0;
    font-family: ui-monospace;
}

.gift-section table,
.gift-section tr {
    border: none;
}

.gift-section td {
    padding: 5px 10px;
}

.gift-section td:nth-child(1) {
    text-align: right;
}

.gift-section td:nth-child(2) {
    text-align: left;
}

.gift {
    background-color: #fff;
    padding: 30px 0;
}

.gifts-img {
    width: 65%;
    border-radius: 8px;
}

.table-borderless {
    margin: auto;
}